<div class="container">
    <div class="row">
        <div class="col-sm">
          <h2 align="center">PayMe</h2>
        </div>
        <div class="col-sm">
          <h2 align="center">PayMe for Business</h2>
        </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <h2>Pay friends and businesses instantly for free</h2>
      </div>
      <div class="col-sm">
        <h2>Collect payments instantly from over a million PayMe customers</h2>
      </div>
    </div>
    <div class="row">
        <div class="col-sm">
          <img src="assets/images/app_icon_personal.png" class="mx-auto d-block">
          <div class="row">
              <div class="col-sm">
                <a class="float-left" href="https://itunes.apple.com/app/id1184264977?mt=8">
                  <img alt="Get it on App Store" src="/assets/images/ios.png">
                </a>
              </div>
              <div class="col-sm">
                <a class="float-right" href="https://play.google.com/store/apps/details?id=hk.com.hsbc.paymefromhsbc">
                  <img alt="Get it on Google Play" src="/assets/images/android.png">
                </a>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <img src="assets/images/app_icon_business.png" class="mx-auto d-block">
          <div class="row">
            <div class="col-sm">
                <a class="float-left" href="https://itunes.apple.com/app/id1184264977?mt=8">
                  <img alt="Get it on App Store" src="/assets/images/ios.png">
                </a>
            </div>
            <div class="col-sm">
                <a class="float-right" href="https://itunes.apple.com/hk/app/payme-for-business/id1443510263?ls=1&mt=8">
                  <img alt="Get it on Google Play" src="/assets/images/android.png">
                </a>
            </div>
          </div>
        </div>
    </div>
</div>